@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

::-webkit-scrollbar{
  width:6px;
  height:6px;
  background-color: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-track-piece{
  width:24px;
  background-color:transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical{
  width:24px;
  height:24px;
  background: rgb(214, 212, 212);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal{
  width:24px;
  height:24px;
  background: rgb(214, 212, 212);
  border-radius: 8px;
}
::-webkit-scrollbar-button{
  display:none;
}
::-webkit-scrollbar-corner{
  display:none;
}
